


/* ==================================================================================
                                    Fonts
===================================================================================== */

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&amp;display=swap');

/* ==================================================================================
                                        Reset Css
===================================================================================== */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  src: local('Quicksand'), url('../fonts/Quicksand-Medium.ttf') format('ttf');
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'Quicksand', sans-serif;
    /*color: #9c9c9c;*/
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
button {
    outline: none;
    cursor: pointer;
}
button:focus {
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
p{
    color: #222222 !important;
}
* {
    margin:0;
    padding: 0;
}
a:focus {
    text-decoration: none;
    outline: none;
}
button {
    outline: none;
}
.btn-primary{
    background: #fff;
    border: 0px;
    color: #222222;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    padding: 13px 40px;
}

.header-btn {
    background-color: #228B22;
    color: #fff;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
}
.header-btn:hover{
    color: #228B22;
    background-color: #fff;
}

.select2-container{
    width: 100% !important;
}

.select2-container .select2-selection--single{
    height: 50px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 50px !important;
    font-size: 17px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px !important;
    width: 30px !important;
}

input {
    outline: none;
}
textarea {
    outline: none;
    resize: none;
    height: inherit !important;
}
section {
    position: relative;
}
img {
    display: inline-block;
    margin-bottom: -6px;
}
p {
    font-size: 16px;
    line-height: 30px;
}
h1,
h2,
h3,
h4 {
    font-weight: 700;
}
a:hover,
a:focus {
    color: inherit;
}

.container {
    max-width: 1200px;
}
.clearfix {
    clear: both;
}

/* ===================== BROWSER COMPATABILITY ======================*/


nav ul li a,
nav ul ul,
nav ul ul li,
.mobile-menu,
.mobile-menu ul li a:before,
.btn-default,
.feature-col:before,
.ftz-btn,
.case-info > h3,
.slick-dots li button,
.team-col:before,
.social-links,
.social-links li a,
.partner-col > a img,
.get-text > a,
.lnks-list li a,
.btn-style2,
.layout2 .slick-prev, .layout2  .slick-next,
.blog-title a,
.post-optz li a,
.service-col,
.layout3 .slick-prev,
.layout3 .slick-next,
.app-btns li,
.svs-list li a,
.toggle-item > h2,
.toggle-item > h2:before,
.post-info > h3,
.tags-list li a,
.shop-img:before,
.add-cart,
.add-cart-btn,
.nav-tabs .nav-link,
.delete-item,
.menu-bar a span,
.scrollTop,
.ft-links li a,
.brw-info > a,
.lnk-default,
.next-btn,
.rm-btn,
.subs-text > form button,
.mobile-menu ul li a,
.feature-col:before,
.services_col {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.feature-col {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.rm-btn,
.tp-icon,
.slick-prev,
.slick-next,
.next-btn,
.user-img:before,
.user-img img,
.client-img,
.client-img img,
.reay-row,
.fd-img,
.fd-img > img,
.page-link,
.page-item:first-child .page-link,
.page-item:last-child .page-link,
.ctt-icon,
.add-cart span,
.payment-options .shipp input[type="radio"] + label span,
.scrollTop {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}



.btn-default {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.form-row input,
.btn-style2,
.subs-text > form input,
.subs-text > form button,
.cm-page-content form input,
.form-row button {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}



/* ===================== HEADER ======================*/

header {
    padding: 45px 0 0 0;
}
.header-content {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.10);
    padding: 0 40px;
}
.logo {
    float: left;
    width: 160px;
    margin-top: 32px;
}

/* Navigation */

nav {
    float: left;
    padding-left: 82px;
}
nav ul {
    margin-top: -4px;
}
nav > ul > li {
    display: inline-block;
    padding: 40px 19px;
    margin-right: -1px;
    position: relative;
}
nav ul li a {
    display: inline-block;
    color: #222222;
    font-size: 17px;
    font-weight: 600;
}
nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}
nav ul li:hover > ul li {
    margin-top: 0;
}
nav ul li a:hover,
nav ul li a.active {
    color: #ff7e00;
}

nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.08);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.08);
    -ms-box-shadow: 0 0 20px rgba(0,0,0,0.08);
    -o-box-shadow: 0 0 20px rgba(0,0,0,0.08);
    box-shadow: 0 0 20px rgba(0,0,0,0.08);
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}
nav ul ul li {
    padding: 10px 15px;
    background-color: #fff;
    border-bottom: 1px solid #999;
    margin-top: 20px;
}
nav ul ul li:last-child {
    border-bottom: 0;
}
nav ul ul ul {
    left: 100%;
    top: 0;
}


header.fixed,
header.fixed.style2,
.layout3 header.fixed,
.layout4 header.fixed,
header.ab.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.10);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.10);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.10);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.10);
    box-shadow: 0 0 10px rgba(0,0,0,0.10);
    padding-top: 0;
}
header.fixed .header-content {
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -ms-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
    padding-left: 0;
    padding-right: 0;
}
.layout3 header.fixed {
    background-color: #228B22;
}

/* ======================== RESPONSIVE MOBILE MENU ======================= */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #228B22;
    z-index: 99;
    padding: 100px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    overflow-y: auto;
}
.mobile-menu.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.mobile-menu ul {
    padding: 0 30px;
}
.mobile-menu ul li {
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
.mobile-menu ul li:last-child {
    margin-bottom: 0;
}
.mobile-menu ul li a {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: block;
}
.mobile-menu ul li a:hover,
.mobile-menu ul li a.active {
    color: #ff7e00;
}
.mobile-menu ul li a:before {
    content: '\f107';
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 16px;
    font-family: fontawesome;
    opacity: 0;
    visibility: hidden;
}
.mobile-menu ul ul {
    display: none;
    float: left;
    width: 100%;
    padding: 20px 20px 0 20px;
}
.mobile-menu ul li.menu-item-has-children > a:before {
    opacity: 1;
    visibility: visible;
}
.mobile-menu ul li.menu-item-has-children.active > a:before {
    content: '\f106';
}

.mobile-menu .menu-bar {
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.mobile-menu .menu-bar a span {
    background-color: #fff;
}
.mobile-menu span.bar1 {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -moz-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
}
.mobile-menu span.bar2 {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(2,1);
    -moz-transform: scale(2,1);
    -ms-transform: scale(2,1);
    -o-transform: scale(2,1);
    transform: scale(2,1);
}
.mobile-menu span.bar3 {
    -webkit-transform: translateY(-9px) rotate(-135deg);
    -moz-transform: translateY(-9px) rotate(-135deg);
    -ms-transform: translateY(-9px) rotate(-135deg);
    transform: translateY(-9px) rotate(-135deg);
}


/* contact */

.contact {
    float: right;
    display: table;
    margin-top: 27px;
}
.contact > img {
    display: table-cell;
}
.contact-info {
    display: table-cell;
    vertical-align: top;
    padding-top: 1px;
    padding-left: 20px;
}

.contact-info > h4 {
    color: #228B22;
    font-size: 18px;
    font-weight: 700;
}

header.ab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

/* ===================== BANNER SECTION ======================*/


.banner-section {
    background-image: url(../images/resources/banner-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px 0 250px;
}
.banner-text {
    width: 50%;
    position: relative;
    float: left;
    padding-top: 60px;
}
.banner-text > h2 {
    color: #ffffff;
    font-size: 50px;
    line-height: 66px;
    font-weight: 700;
    margin: 0 0 20px;
}
.banner-text > p {
    margin-bottom: 50px;
    max-width: 515px;
    color: #fff;
}
.banner-text > .btn-default {
    background-color: #fff;
    color: #222;
    border-color: #fff;
}
.banner-text > .btn-default:hover {
    border-color: #fff;
}
.btn-default {
    display: inline-block;
    color: #110802;
    font-size: 16px;
    font-weight: 700;
    height: 60px;
    line-height: 56px;
    padding: 0 40px;
    text-transform: capitalize;
    border:2px solid #6836ff;
}
.btn-default:hover {
    background-color: #6836ff;
    color: #fff;
}

.vectorr_shape {
    float: right;
    width: 40%;
}
.vectorr_shape > img {
    width: 100%;
}

/* ==================== RESPONSIVE MOBILE MENU ==================== */

.menu-bar {
    float: right;
    position: relative;
    top: 5px;
    display: none;
}
.menu-bar a {
    display: inline-block;
    width: 100%;
}
.menu-bar a span {
    display: block;
    width: 100%;
    background-color: #222222;
    height: 2px;
    margin-bottom: 10px;
}
.menu-bar span.bar1 {
    width: 100%;
}
.menu-bar span.bar2 {
    width: 20px;
}
.menu-bar span.bar3 {
    width: 30px;
}
.menu-bar a span:last-child {
    margin-bottom: 0;
}
.menu-bar.active span.bar1 {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -moz-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
}
.menu-bar.active span.bar2 {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(2,1);
    -moz-transform: scale(2,1);
    -ms-transform: scale(2,1);
    -o-transform: scale(2,1);
    transform: scale(2,1);
}
.menu-bar.active span.bar3 {
    -webkit-transform: translateY(-9px) rotate(-135deg);
    -moz-transform: translateY(-9px) rotate(-135deg);
    -ms-transform: translateY(-9px) rotate(-135deg);
    transform: translateY(-9px) rotate(-135deg);
}






/* ===================== SCROLL TO TOP ==================== */

.scrollTop {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.13);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.13);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.13);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.13);
    box-shadow: 0 0 10px rgba(0,0,0,0.13);
    text-align: center;
    line-height: 40px;
    color: #228B22;
    margin-top: -20px;
}
.scrollTop:hover,
.scrollTop:focus {
    background-color: #228B22;
    color: #fff;
}





/*============= MAIN FARM HOMEPAGE ======*/
.farm-intro{
    background-image: url('../img/aboutbg.jpg');
}

.farm-intro .container{
    padding-top: 15%;
    padding-bottom: 5%;
}

.farm-intro .container .row .col-md-5 div{
    text-align: left;
    color: #333;
    padding-top: 5%;
}

.farm-intro .container .row .col-md-5 div h2{
    font-size: 45px;
    padding-bottom: 15px;
}
.farm-intro .container .row .col-md-5 div h4{
    line-height: 40px;
}


.homepage-features .container{
    margin-top: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
}

.feature-col {
    text-align: center;
    padding: 70px 0 0;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.06);
    position: relative;
}
.feature-col:hover {
    margin-top: -20px;
    border-radius: 10px;
}
.feature-col:before, #middle-col:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #228B22;
    /*background-image: url(../images/bg-shape.png);*/
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    border-radius: 10px;
    visibility: hidden;
    z-index: -1;
}
#middle-col:before{
    background: #d08f31 !important;
}

.pagination{
    display: inherit !important;
}

.page-link{
    color: #228B22;
}
.page-link:hover{
    box-shadow: 0 10px 90px 0 rgba(0,0,0,.2);
    color: #228B22;
}
.feature-col:hover:before, #middle-col:hover:before {
    opacity: 1;
    visibility: visible;
}
.feature-col:hover h3 {
    color: #fff;
}
.feature-col:hover p {
    color: #fff !important;
}
.feature-col:hover .rm-btn {
    background-color: #fff;
    color: #228B22;
}

#middle-col:hover .rm-btn{
    color: #d08f31;
    background-color: #fff;
}
.feature-col > img {
    margin-bottom: 8px;
}

.feature-col .fl-icon{
    width: 50px;
    height: 50px;
}
.feature-col > h3 {
    color: #110802;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 21px;
    position: relative;
    padding-bottom: 26px;
}
.feature-col > h3:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 34px;
    height: 4px;
    background-color: #32CD32;
    transform: translateX(-50%);
}
#middle-col > h3:before{
    background-color: #d08f31;
}
.layout2 .feature-col > h3 {
    padding-bottom: 0;
}
.feature-col > p {
    padding: 0 25px;
    margin-bottom: 32px;
}
.feature-col:hover {
    top: 0;
}

.rm-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    background-color: #228B22;
    position: relative;
    top: 30px;
    box-shadow: 10px 5px 10px rgba(0,0,0,0.10);
}
#middle-col .rm-btn{
    background-color: #d08f31;
}
.rm-btn:hover {
    color: #fff;
    background-color: #ff7e00;
}


.farm-features {
    margin-top: 15%;
    margin-bottom: 5%;
}

.farm-features .row{
    padding:  4% 5px;
    margin-bottom: 5%;
}
.farm-features .row .col-md-5{
    text-align: left;
    color:  #222;
}

.farm-features .row .col-md-5 h2{
    padding-bottom: 5%;
}

.farm-features .row .col-md-5 h5{
    line-height: 35px;
    font-size: 17px;
}

.farm-features .row .col-md-7{
    padding:  10px 8%;
}
.farm-features .row .col-md-7 figure img{
    width: 100%;
    height: 300px;
    border-radius: 30px;
}

.forum-section{
    background: url('../img/bg-testimonial.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 5%;
}

.forum-section .container div h2{
    padding-top: 7%;
}
.forum-section .container div {
    padding:  5% 20%;
}
/* ==================== FOOTER ===================== */


.top-footer {
    padding: 2px 0 80px;
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center 140%;
    margin-top: 10%;
}
.widget-logo > p {
    font-size: 14px;
    margin-top: 30px;
    font-weight: 500;
    line-height: 25px;
}
.widget-title {
    color: #228B22;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: -4px;
}
.widget-links ul {
    display: block;
}
.lnks-list li {
    display: block;
    margin-bottom: 14px;
    color: #777777;
    font-size: 14px;
    font-weight: 500;
}
.lnks-list li:last-child {
    margin-bottom: 0;
}
.lnks-list li a {
    display: block;
    color: #777777;
    font-size: 14px;
    font-weight: 500;
}
.lnks-list li a:hover {
    color: #ff7e00;
}

.widget-contact .lnks-list li {
    margin-bottom: 26px;
}
.widget-contact .lnks-list li:last-child {
    margin-bottom: 0;
}
.layout3 .lnks-list li a:hover,
.layout3 .widget-app .social-links li a:hover {
    color: #ff7e00;
}
.layout3 .top-footer {
    background-color: inherit;
}

.download-btns {
    display: block;
    margin-bottom: 30px;
    margin-top: -4px;
}
.download-btns li  {
    display: inline-block;
    margin-right: 16px;
}
.download-btns li:last-child {
    margin-right: 0;
}
.download-btns li:last-child a img {
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.09);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.09);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.09);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.09);
    box-shadow: 0 0 10px rgba(0,0,0,0.09);
}


.widget-app > h3 {
    color: #228B22;
    font-size: 16px;
}
.widget-app .widget-title {
    font-size: 17.6px;
}
.widget-app .social-links li a {
    color: #228B22;
}
.widget-app .social-links {
    margin-top: 19px;
}


/* ===================== BOTTOM STRIP ==================== */

.bottom-strip {
    padding: 20px 0;
    background-color: #228B22;
    position: relative;
}
.copyright-text p {
    color: #ffffff;
    font-size: 14px;
    float: left;
}
.ft-links {
    float: right;
    margin-top: 2px;
}
.ft-links li {
    display: inline-block;
    margin-right: 56px;
}
.ft-links li a {
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
}
.ft-links li:last-child {
    margin-right: 0;
}
.ft-links li a:hover {
    color: #ff7e00;
}
.social-links {
    display: block;
    margin-top: 30px;
}
.social-links li {
    display: inline-block;
    margin-right: 20px;
}
.social-links li:last-child {
    margin-right: 0;
}
.social-links li:last-child {
    margin-right: 0;
}
.social-links li a {
    display: inline-block;
    color: #222222;
    font-size: 16px;
}
.social-links li a:hover,
.widget-app .social-links li a:hover {
    color: #ff7e00;
}





/*================= ABOUT PAGE ===============*/
.about-intro{
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    height: 70vh;
    background: url('../img/h2-slide1.jpg');
    background-position: bottom;
}

.about-intro.farmers{
    background: url('../img/farming.jpg');
    background-position: center top;
}

.about-intro.farmers h2,
.about-intro.farmers .pages-list{
    position: relative;
    z-index: 1;
}

.about-intro.farmers .container::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
}


.about-intro::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}
.about-intro h2{
    padding-top: 13%;
    color: #fff;
    font-size: 40px;

}
.about-intro figure img{
    position: absolute;
    bottom: 2px;
}
.pages-list {
    padding-top: 15%;
    float: right;
    background-color: #fff;
    padding: 0 50px;
    border-radius: 50px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.24);
}
.pages-list li {
    display: inline-block;
    position: relative;
    padding: 0 13px;
}
.pages-list li:first-child {
    padding-left: 0;
}
.pages-list li:before {
    content: '\f35a';
    position: absolute;
    top: 0;
    right: -7px;
    color: #222222;
    font-size: 18px;
    font-family: fontawesome;
}
.pages-list li:last-child {
    padding-right: 0;
}
.pages-list li:last-child:before {
    display: none;
}
.pages-list li a,
.pages-list li span {
    display: inline-block;
    color: #222222;
    font-size: 18px;
    font-weight: 700;
}
.pages-list li.active span {
    color: #228B22;
}

.about-section {
    margin-top: 10%;
    margin-bottom: 5%;
}
.about-section .container .row .col-md-8{
    padding-bottom: 5%;
}
.about-section .container .row .col-md-8 h1{
    color: #222;
    padding-bottom: 4%;
}

.about-section .container .row .col-md-8 p{
    font-size: 17px;
    font-weight: bold;
    color:  #222222;
}
.about-section .container .row .col-md-5 figure img{
    border-radius: 10px;
    height: 300px;
    width: 100%;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
}
.about-vision {
    margin-top: 5%;
    margin-bottom: 5%;
}
.about-vision .row{
    padding: 10px 1%;
}
.about-vision .row .col-md-6{
    color: #222222;
}
.about-vision .row .col-md-6 .container{
    padding: 5% 5%;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
    border-radius: 15px;
}
.about-vision .row .col-md-6 .container p{
    font-weight: 500;
}
.about-vision .row .col-md-6 .container h4{
    font-size: 25px;
}
.about-boxes{
    padding: 20px;
    margin-bottom: 5%;
}

.about-boxes .row{
    padding: 0;
}
.about-boxes .row .col-md-4{
    padding: 0;
}
.about-boxes .row .col-md-4 .text-data{
    padding: 15% 10px;
    text-align: center;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
}
.about-boxes .row .col-md-4 .text-data h4,
.about-boxes .row .col-md-4 .text-data p{
    color: #222222;
}


.about-boxes .row:last-child .col-md-4:nth-child(2){
    margin-top: 2px;
}

.about-boxes .row .col-md-4 .text-data p{
    padding-bottom: 5px;
}



/*================= ABOUT PAGE ===============*/
.farmer-intro{
    text-align: center;
    padding: 2% 10%;
    color: #222222;
    margin-bottom: 5%;
}

.farmer-intro p{
    font-weight: bold;
    color:  #7777;
}
.lnk-default {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    background-color: #228B22;
    padding: 0 77px 0 30px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.20);
    position: relative;
    margin-top: 7px;
}
.lnk-default:hover {
    color: #fff;
    background-color: #d08f31;
}
.lnk-default:hover .next-btn {
    color: #fff;
    background-color: #d08f31;
    border-color: #d08f31;
}
.next-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #228B22;
    font-size: 18px;
    border:2px solid #228B22;
    background-color: #fff;
}

.facts-sec {
    /*background-image: url(../img/aboutbg.jpg);*/
    background-repeat: no-repeat;
    padding: 47px 0 0;
    margin-bottom: 5%;
}
.facts-sec .sec-title {
    margin-bottom: 110px;
}
.fact-col {
    background-color: #fff;
    padding: 30px 0 22px;
    min-width: 260px;
    text-align: center;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1);
    float: left;
    position: relative;
    margin-right: 30px;
    border-radius:5px;
}
.fact-col > h3 {
    color: #222222;
    font-size: 24px;
    margin-bottom: 9px;
}
.fact-col > h2 {
    color: #228B22;
    font-size: 48px;
    display: inline-block;
}
.fact-col > h2 span {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
}
.fact-col > h2 small {
    font-size: 24px;
    font-weight: 400;
}
.fact-col:nth-child(2) {
    top: -40px;
}
.fact-col:nth-child(3) {
    top: -80px;
}
.fact-col:nth-child(4) {
    top: -140px;
}
.fact-col > span {
    display: inline-block;
    color: #228B22;
    font-size: 48px;
    font-weight: 700;
    margin-left: 9px;
}







/*======================= AUTH PAGES ===============*/
.auth-section{
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 5% 3%;
}

.auth-section .row .col-md-7 h1{
    padding-bottom: 2%;
}

.auth-section .row .col-md-7 .row .col-md-12 button{
    background: #228B22;
    transition: .3s;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
}

.auth-section .row .col-md-7 .row .col-md-12 button:hover{
    background-color: white;
    color: #000;
}

.custom-label{
    font-weight: bold;
    padding-bottom: 10px;
}

.form-control{
    margin-bottom: 5%;
    display: block;
    width: 100%;
    height: 50px;
    padding: .375rem .75rem !important;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.form-control:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: none;
    box-shadow: 0 0 0 0.1rem #228B22;
}

.auth-section .row .col-md-5 .login-section{
    /*background: #228B22;*/
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
    padding: 5% 5%;
}

.auth-section .row .col-md-5 .login-section .form-group label{
    font-weight: bold;
    padding-bottom: 10px;
}

.login-btn button{
    border-radius: 2px;
    transition: .3s;
    font-weight: bold;
    color:  #fff;
    background:  #228B22;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
}

.login-btn button:hover{
    background: #fff;
    color: #000;
}

a{
    text-decoration: none !important;
}

.f-bold{
    font-weight: bold;
}
.category-box {
    position: relative;
    height: 150px;
    background: #fff;
    box-shadow: 0 5px 25px 0 rgb(41 128 185 / 15%);
    -webkit-box-shadow: 0 5px 25px 0 rgb(41 128 185 / 15%);
    border-radius: 5px;
    text-align: center;
    padding: 50px 12px 0px;
    box-sizing: border-box;
    margin-bottom: 30px;
    overflow: hidden;
    transition: 0.6s linear;
}
.category-box .category-desc {
    z-index: 2;
}
.category-box .category-desc .category-icon {
    font-size: 40px;
    color: #ff7c39;
    margin-bottom: 10px;
    transition: 0.6s cubic-bezier(0.45, 0.01, 0.1, 1.49);
}
.category-box .category-desc i {
    font-size: 40px;
    color: #11b719;
    margin-bottom: 7px;
    width: auto;
    height: auto;
    transition: 0.6s cubic-bezier(0.45, 0.01, 0.1, 1.49);
}
.category-box .category-desc .category-detail h4 {
    font-weight: 500;
    margin-bottom: 5px;
}
.category-box .category-desc .category-detail p {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}
.category-box .category-desc .category-detail span {
    font-weight: 400;
    font-size: 14px;
}
.request_category h1 span{
    color: #228B22;
}

.popular-jobs-container {
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    transition: 0.4s;
    border: 1px solid #eaeff5;
}
.popular-jobs-container:focus,
.popular-jobs-container:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    cursor: pointer;
}
.popular-jobs-box {
    text-align: center;
    padding: 50px 20px 15px;
}
.popular-jobs-status {
    position: absolute;
    left: 32px;
    top: 25px;
    color: #fff;
    text-transform: capitalize;
    padding: 4px 18px;
    border-radius: 50px;
    background-color: #228B22 !important;
    font-weight: 500;
}
.popular-jobs-box-detail h4 {
    margin-bottom: 4px;
    font-size: 20px;
    text-transform: capitalize;
}
.popular-jobs-box-detail .desination,
.popular-jobs-box-detail .location {
    font-weight: 500;
    font-size: 15px;
    display: block;
    color: #677484;
}
.popular-jobs-box-extra ul {
    margin: 15px 0;
    padding: 0;
}
.popular-jobs-box-extra ul li {
    display: inline-block;
    list-style: none;
    padding: 3px 15px;
    border: 1px solid #b9c5ce;
    border-radius: 50px;
    margin: 5px;
    font-weight: 500;
    color: #657180;
}
.popular-jobs-box-extra ul li.more-skill {
    color: #fff;
    border-color: #1194f7;
}
a.btn.btn-popular-jobs {
    padding: 17px;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0;
}
.process-icon,
span.process-img {
    width: 80px;
    height: 80px;
    position: relative;
    display: inline-block;
}
a.btn.btn-popular-jobs:focus,
a.btn.btn-popular-jobs:hover {
    background: #228B22;
    color: #fff;
}
.popular-jobs-box img{
    height: 100px;
    width:  100px;
    margin-bottom: 8%;
    border-radius: 50%;
}
.working-process {
    text-align: center;
    position: relative;
    margin-top: 30px;
}
.process-icon {
    float: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    line-height: 98px;
    font-size: 35px;
    text-align: center;
    color: #fe2864;
    background: #f5f9fc;
    border-color: #f5f9fc;
}
span.process-img {
    margin: 15px auto 0;
}
span.process-img img {
    z-index: 1;
}
span.process-count {
    position: absolute;
    right: 0;
    bottom: 5px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background: #fe2864;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}
span.process-num {
    position: absolute;
    font-size: 60px;
    font-weight: 600;
    opacity: 0.1;
    left: -30px;
    top: -10px;
}
.working-process h4 {
    margin: 10px 0;
}
.working-process p {
    padding: 2px 15px;
    line-height: 1.9;
}
.how_it_works{
    padding-top: 3%;
    padding-bottom: 8%;
}
.inner-header-page {
    padding: 150px 0 50px;
    text-align: left;
    background: #f5f6f7;
    border-bottom: 2px solid #11b719;
}
.left-side-container {
    display: table;
    width: 100%;
}
.inner-header-page .freelance-image {
    height: 150px;
    flex: 0 0 150px;
    margin-right: 35px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    display: inline-block;
    /*padding: 0 0px;*/
    line-height: 140px;
    float: left;
}
.inner-header-page .freelance-image img {
    width: 150px;
    border-radius: 10px;
    height: 150px;
}
.header-details h4 {
    margin: 0 0 5px;
    font-size: 24px;
}
.header-details h4 span {
    font-size: 17px;
}
.inner-header-page .header-details ul {
    padding: 0;
    margin: 0 0 -7px;
    list-style: none;
    line-height: 24px;
}
.inner-header-page .header-details li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 12px;
}

.header-details {
    margin-top: 20px;
}
.inner-header-page .header-details li .star-rating {
    position: relative;
    top: 0;
}

.inner-header-page .header-details li .star-rating .fa {
    color: #94a0ad;
}
.inner-header-page .header-details li .star-rating .fa.fill {
    color: #febe42;
}
.right-side-detail ul {
    padding: 0;
    margin: 0;
}
.right-side-detail ul li {
    list-style: none;
    padding: 5px 0;
}
.right-side-detail ul li .detail-info {
    width: 135px;
    font-weight: 500;
    display: inline-block;
}
.right-side-detail ul.social-info li {
    display: inline-block;
    margin: 5px;
}
.right-side-detail ul.social-info li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #e3e8ec;
    text-align: center;
    line-height: 40px;
    border-radius: 2px;
}
span.available-status {
    margin-left: 10px;
    background: #01c73d;
    padding: 5px 15px;
    border-radius: 4px;
    color: #fff;
}
.container-detail-box,
.sidebar-wrapper {
    border-radius: 6px;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.container-detail-box {
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #eaeff5;
}
.apply-job-detail {
    margin-bottom: 30px;
}
.apply-job-detail h5 {
    font-size: 18px;
}
.apply-job-header a {
    margin-right: 15px;
}
.apply-job-header a i,
.apply-job-header span i {
    margin-right: 5px;
}
.apply-job-header {
    margin-bottom: 40px;
}
.apply-job-header h4 {
    font-size: 22px;
}
.container-detail-box,
.sidebar-wrapper {
    border-radius: 6px;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.container-detail-box {
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #eaeff5;
}
.apply-request-detail {
    margin-bottom: 30px;
}
.apply-request-detail h5 {
    font-size: 18px;
}
.apply-request-header a {
    margin-right: 15px;
}
.apply-request-header a i,
.apply-request-header span i {
    margin-right: 5px;
}
.apply-request-header {
    margin-bottom: 40px;
}
.apply-request-header h4 {
    font-size: 22px;
}
